*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --metric-box-spacing: 16px;
  --color-off-blue: #222222;
  --primary-text-color: #fff;
  accent-color: red;
  color-scheme: light;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: clamp(1rem, 0.5rem + 1.5vw,2rem);
  line-height: 1.2;
  --gradient: linear-gradient(to right, red, orange);
}
:root,body {
  min-block-size: 100vh;
}
body {
  margin: calc(var(--metric-box-spacing)*4);
}
h1,h2,p {
  margin: var(--metric-box-spacing);
}
/* cards with grid and flexbox */
/* grid */
.cards {
  display: grid;
  gap: var(--metric-box-spacing);
  grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
}
.card {
  background-color: var(--color-off-blue);
  border-radius: calc(var(--metric-box-spacing)/2);
  color: var(--primary-text-color);
  /* letter-spacing: .1ch; */
  max-inline-size: 66ch;
  padding: calc(var(--metric-box-spacing)/2);
}
/* flexbox */
/* .cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: 15em;
  flex-grow: 1;
} */
/* micro-layouts with grid */
#fancy-heading {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr auto 1fr;
}
#fancy-heading::before,#fancy-heading::after {
  align-self: center;
  border-bottom: 0.3em double black;
  content: "";
}
/* micro-layouts with flexbox.*/
svg {
  flex: 1;
  max-inline-size: 10em;
}
.media {
  align-items: center;
  display: flex;
  gap: 2em;
}
.media-content {
  flex: 3;
}
/* container queries */
.h-5 {
  margin: auto;
  max-inline-size: 10em;
}
/* holidays */
.holiday-card {
  border: 2px solid #222;
  border-radius: var(--metric-box-spacing);
  padding: var(--metric-box-spacing);
}
img {
  aspect-ratio: 2/1;
  block-size: auto;
  max-inline-size: 100%;
  object-fit: cover;
  object-position: top center;
}
.holiday-cards {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
}
/* theming */
/* form {
  border: 2px solid #222;
  padding: var(--metric-box-spacing);
}
form div {
  margin-block-end: var(--metric-box-spacing);
}
[type="text"],[type="password"] {
  border-radius: calc(var(--metric-box-spacing)/2);
  padding: calc(var(--metric-box-spacing) / 4);
}
@media (prefers-color-scheme: dark) {
  :root {
    accent-color: pink;
    color-scheme: dark;
  }
  body {
    background-color: var(--color-off-blue);
    color: var(--primary-text-color);
  }
} */
/* accessibility */
/* pseudo-elements */
.pseudo::first-letter {
  border: .25rem solid #0c55ff;
  color: #0c55ff;
  float: left;
  font-size: 2.6em;
  font-weight: bold;
  line-height: 1;
  margin-inline-end: .2rem;
  padding: .5rem;
}
.pseudo-one::first-line {
  color: goldenrod;
  font-weight: bold;
}
::marker {
  color: hotpink;
}
ul ::marker {
  font-size: 1.5rem;
}
summary::marker {
  border: .5rem solid hotpink;
  content: '\002B'' ';
}
details[open] summary::marker {
  content: '\2212'' ';
}
::selection {
  background-color: hotpink;
  color: #fff;
}
input {
  padding: 4px;
}
input::placeholder {
  color: hotpink;
}

/* you can only insert ::before and ::after only on elements that accept child elements */
@media (max-width:50em) {
  .cards {
    display: flex;
    flex-direction: row;
    overflow-inline: auto;
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
  }

  .cards .card {
    flex-basis: 15em;
    flex-shrink: 0;
    scroll-snap-align: start;
  }
}
@media (min-width:50em) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
  }
}
strong {
  font-weight: 700;
}
.my-component {
  font-weight: 500;
}
.my-component strong {
  font-weight: inherit;
}
.my-article {
  background-color: hotpink;
  border-radius: .5rem;
  padding: 2em;
  width: 300px;
}
.my-article:hover {
  transform: scale(1.05);
  transition: transform .5s linear;
}
.my-grid {
  background-color: lightblue;
  display: grid;
  gap: .5rem;
  grid-template-columns: 200px repeat(2,1fr 2fr);
  grid-template-rows: 200px auto;
}
.grid-item {
  border: 1px solid black;
}
.positions {
  background-color: hotpink;
  border-radius: .5rem;
  block-size: 5rem;
  inline-size: 5rem;
  /* inset-block-start: 100px; */
  position: relative;
}
.my-pseudo :first-child {
  color: #fff;
  background-color: red;
}
.my-pseudo :last-child {
  color: #fff;
  background-color: green;
}
.my-pseudo li:nth-child(2) {
  background-color: yellow;
} 
.my-pseudo li:nth-child(even) {
  background-color: yellow;
}
.z-box {
  background-color: grey;
  border-radius: .5rem;
  block-size: 10rem;
  inline-size: 10rem;
  margin-block-end: 2rem;
  position: relative;
}
#one {
  background-color: chartreuse;
}
#two {
  background-color: darkred;
  margin-block-start: -8rem;
}
#three {
  background-color: firebrick;
  margin-block-start: -8rem;
}
.crypto {
  background-image: linear-gradient(to right,blue,purple);
  border: none;
  border-radius: .5rem;
  color: #fff;
  cursor: pointer;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 700;
  padding: .5rem;
}
.crypto:hover {
  background-image: linear-gradient(to right, purple, blue);
  transform: scale(1.1);
  transition: all .5s linear;
}
.blur {
  cursor: pointer;
  filter: blur(4px);
  font-size: 1.5em;
  font-weight: bold;
}
.bright {
  cursor: pointer;
  filter: brightness(550%);
  font-size: 1.5em;
  font-weight: bold;
}